<!-- Elements added to main will be displayed on all pages -->
<html>
 <body>
  {% extends "base.html" %}

{% block scripts %}
  <!-- OneTrust Cookies Consent Notice start for www.jetson-ai-lab.com -->
  <script charset="UTF-8" data-domain-script="018e2d65-efdf-7071-b793-f15ccf25c234" src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   function OptanonWrapper() {        
        var event = new Event('bannerLoaded');
        window.dispatchEvent(event);
    }
  </script>
  <!-- OneTrust Cookies Consent Notice end for www.jetson-ai-lab.com -->
  <script src="https://images.nvidia.com/aem-dam/Solutions/ot-js/ot-custom.js" type="text/javascript">
  </script>
  <script src="//assets.adobedtm.com/5d4962a43b79/814eb6e9b4e1/launch-4bc07f1e0b0b.min.js">
  </script>
  {{ super() }}
  <script>
   window._6si = window._6si || [];
  window._6si.push(['enableEventTracking', true]);
  window._6si.push(['setToken', 'eb417ec30d332e34d732e2916f185311']);
  window._6si.push(['setEndpoint', 'b.6sc.co']);
  window._6si.push(['enableRetargeting', false]); 

  window._6si.push(['enableCompanyDetails', true]);
  window._6si.push(['setEpsilonKey', '6f578ba72568231347d1bddb7102e53695302c28']);

  (function() {
    var gd = document.createElement('script');
    gd.type = 'text/javascript';
    gd.async = true;
    gd.src = '//j.6sc.co/6si.min.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gd, s);
  })();
  </script>
  <script type="text/javascript">
   _satellite.pageBottom();
  </script>
  {% endblock %}
 </body>
</html>
