<html>
 <body>
  {% extends "main.html" %}
{% block extrahead %}
  {{ super() }}
  <style>
   body {
      background-color: #efefef;
    }
    #search-bar-sidebar-status-rollup {
      display: none !important;
    }
    #search-bar-sidebar {
      display: none !important;
    }
    #search-bar-select2, #search-bar-select2 ~ * {
      display: none !important;
    }
  </style>
  <script type="module">
   import { GraphDB, SearchBar, QueryView} from '/portal/nanolab.js';

    const GRAPH_DB = [
      '/portal/dist/db.json',
      /*'https://raw.githubusercontent.com/dusty-nv/jetson-containers/refs/heads/dev/data/graphdb/db.json'*/
    ];

    window.onload = () => {
      GraphDB.load(GRAPH_DB).then(db => {
        var searchBar = new SearchBar({
          db: db,
          tags: QueryView().tags,
          parent: '.root-container'
        });
        console.log("[GraphDB]  Done loading");
      });
    };
  </script>
  {% endblock %}
{% block tabs %}
{{ super() }}
{% endblock %}
{% block content %}
  <div class="root-container flex-column" data-style-theme="nv-green">
  </div>
  {% endblock %}
{% block footer %}
  <footer class="md-footer">
   <div class="md-footer-meta md-typeset">
    <div class="md-grid">
     <div class="md-copyright">
      <div class="md-copyright__highlight">
       <ul class="global-footer__links">
        <li>
         <a href="https://www.nvidia.com/en-us/about-nvidia/privacy-policy/" target="_blank">
          Privacy Policy
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/privacy-center/" target="_blank">
          Manage My Privacy
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/preferences/email-preferences/" target="_blank">
          Do Not Sell or Share My Data
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/about-nvidia/legal-info/" target="_blank">
          Legal
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/about-nvidia/accessibility/" target="_blank">
          Accessibility
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/about-nvidia/company-policies/" target="_self">
          Corporate Policies
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/product-security/" target="_blank">
          Product Security
         </a>
        </li>
        <li>
         <a href="https://www.nvidia.com/en-us/contact/" target="_blank">
          Contact
         </a>
        </li>
       </ul>
       <div class="global-footer__copyright">
        Copyright © 2024 NVIDIA Corporation
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
  {% endblock %}
 </body>
</html>
