.md-header {
    background: linear-gradient(90deg, #05C9F9 0%,hsla(134, 75%, 84%, 1) 50%, #76b900 100%);
    color: black;
}

.md-tabs {
    background: linear-gradient(90deg, #05C9F9 0%,hsla(134, 75%, 84%, 1) 50%, #76b900 100%);
    color: black;
}