.md-header {
    background: linear-gradient(90deg, #004B96 0%,hsl(132, 100%, 92%) 66%, #76b900 100%);
    /* color: black; */
}

.md-tabs {
    background: linear-gradient(90deg, #004B96 0%,hsl(132, 100%, 92%) 66%, #76b900 100%)
                #DDDDDD;
    background-blend-mode: multiply;
    transition: background-color 500ms linear;
    color: white; 
    font-weight: bold;
}

.md-tabs.topped {
    background: linear-gradient(90deg, #004B96 0%,hsl(132, 100%, 92%) 66%, #76b900 100%);
    transition: background-color 500ms linear;
    color: black; 
    font-weight: bold;
}

.md-nav__link--active {
    font-weight: 900;
}

/* Bigger width for md-content for main text */
.md-grid {
    max-width: 90%; /* or 100%, if you want to stretch to full-width */
  }

.md-banner__inner {
    font-size: .7rem;
    margin: 0.2rem auto;
    margin-top: 0.2rem;
    margin-right: auto;
    margin-bottom: 0.2rem;
    margin-left: auto;
    padding: 0 0.8rem;
}
