/* 
 * Various buttons, toggles, and switches
 *  https://copy-paste-css.com/
 *  https://markodenic.com/tools/buttons-generator/ 
 */

.btn-green {
  color: #e4e4e4;
  background-color: var(--theme-primary);
}

.btn-green:hover {
  color: rgb(255,255,255);
  background-color: hsl(82, 100%, 41%);/*var(--theme-primary-dark);*/
}

.btn-yellow, a.btn-yellow {
  color: rgb(235,235,235);
  background-color: rgb(235, 143, 0);
  transition: none;
}

.btn-yellow:hover, a.btn-yellow:hover, a.btn-yellow:active, a.btn-yellow:focus {
  color: rgb(255,255,255);
  background-color: rgb(249, 162, 22);
  text-decoration-color: rgb(255,255,255);
  text-decoration-thickness: 1px;
  transition: none;
}

.btn-blue, a.btn-blue {
  color: rgb(235,235,235);
  background-color: hsl(209, 100%, 43%);
  transition: none;
}

.btn-blue:hover, a.btn-blue:hover, a.btn-blue:active, a.btn-blue:focus {
  color: rgb(255,255,255);
  background-color: rgb(0, 129, 251);
  text-decoration-color: rgb(255,255,255);
  text-decoration-thickness: 1px;
  transition: none;
}

/* Button sizes */
.btn-md {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 15px;
  margin: 2px;
}

.btn-md:hover {
  text-decoration: underline;
}

.btn-md:link {
  text-decoration: none;
}

.btn-sm {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 5px;
  margin-right: 2px;
}

/* These rounder/transparent buttons get used for tags */
.btn-oval, a.btn-oval {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  margin-right: 4px;
  color: rgb(235,235,235);
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  text-decoration: none;
  transition: none;
}

.btn-oval:hover, a.btn-oval:hover, a.btn-oval:active, a.btn-oval:focus {
  color: rgb(255,255,255);
  /*font-weight: 500;*/
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.3);
  text-decoration-color: rgb(255,255,255);
  text-decoration-thickness: 1px;
  transition: none;
}

/* Non-link buttons (these show pinned content) */
.tag-oval {
  font-size: 13px;
  font-weight: 400;
  color: rgba(235,235,235, 0.75);
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  text-decoration: none;
  transition: none;
  margin: 15px 0px 15px 10px;
}

.tag-oval:hover {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
}

.pin-green {
  color: #dddddd;
  background-color: var(--theme-primary);
  font-size: 14px;
  font-weight: 500;
  padding: 5px 5px;
  margin: 3px;
}

.pin-yellow {
  color: rgb(255,255,255);
  background-color: rgb(235, 143, 0);
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 5px;
  margin: 3px;
}

/* Floating buttons used for copy + downloading code */
.btn-float {
  float: right;
  font-size: 130%;
  margin-left: 5px;
  margin-right: 0px;
  z-index: 100;
  opacity: 0.75;
  /*margin-left: auto;  https://stackoverflow.com/a/35270047 */
}

.btn-float:hover {
  color:  hsla(82deg, 100%, 38.1%, 1);
  opacity: 1;
}

.btn-absolute {
  position: absolute;
  text-shadow: 2px 2px 3px rgb(0,0,0,.4);
  top: 15px;
  right: 480px;
  z-index: 999;
  font-size: 160%;
  opacity: 0.75;
}

.btn-absolute:hover {
  color:  hsla(82deg, 100%, 38.1%, 1);
  opacity: 1;
}

/*
 * Multi-button group using radio buttons.
 * This allows one option selected at a time.
 */
.btn-group {
  /*margin: 10px;*/
  margin-top: 5px;
  padding: 0px;
  float: right;
  font-size: 85%;
}

.btn-group input[type="radio"] {
  display: none;
  box-sizing: border-box;
  margin-top: 10px;
  /*outline-offset: -4px;*/

  & + label {
    background: var(--theme-gray-darker);
    color: rgba(255,255,255,0.85);
    box-shadow: 5px 5px 1px rgb(115,115,115);
    padding: 8px 10px;
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
  }

  &:hover + label {
    color: rgba(255,255,255,1);
    background: hsla(81, 100%, 33.1%, 1.0);
    box-shadow: 5px 5px 3px hsla(81, 100%, 22%, 0.9); /*hsla(81, 100%, 29%, 0.95);*/
    border-left: 1px solid rgba(255,255,255,0.0);
    border-right: 1px solid rgba(255,255,255,0.0);
  }

  &:active + label {
    background: hsla(81, 70%, 25%, 0.95);
    box-shadow: 5px 5px 3px hsla(81, 100%, 18%, 0.8), inset 0px 4px 2px hsla(81, 100%, 12%, 0.4);
    /*outline-offset: -4px;
    transform: scale(0.99);*/
  }

  &:checked + label {
    background: hsla(81, 100%, 27%, 0.95);
    box-shadow: 5px 5px 1px hsla(81, 100%, 22%, 0.8);
    /*outline-offset: -4px;
    transform: scale(0.99);*/
  }
}

/* 
 * https://proto.io/freebies/onoff/ 
 * https://www.lambdatest.com/blog/css-toggle-switches/
 * https://codepen.io/coldsoul/pen/pbdvPa
 * https://codepen.io/magnificode/pen/ojYJJP
 * https://www.w3schools.com/howto/howto_css_switch.asp
 */
 .toggle-btn {
  border: 2px solid #aaaaaa;
  display: inline-block;
  padding: 5px;
  position: relative;
  text-align: center;
  /*transition: background 600ms ease, color 600ms ease;*/
}

.toggle-btn-container {
  min-width: 100px;
  margin-left: 10px;
}

input[type="radio"].toggle {
  display: none;
  & + label{
      cursor: pointer;
      min-width: 50px;
      &:hover{
          background: none;
          color: #1a1a1a;
      }
      &:after{
          background: var(--theme-primary);
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          /*transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);*/
          width: 100%;
          z-index: -1;
      }
  }
  &.toggle-left {
    background-color: rgb(30,30,30),
  }
  &.toggle-left + label {
      border-right: 0;
      &:hover {
        background-color: rgb(30,30,30),
      }
      &:after{
          left: 100%
      }
  }
  &.toggle-right + label{
      margin-left: -5px;
      &:after{
          left: -100%;
      }
  }
  &:checked + label {
      cursor: default;
      color: #fff;
      /*transition: color 200ms;*/
      &:after{
          left: 0;
      }
  }
}
