/* 
 * https://csscardgenerator.pages.dev/ 
 */
.card {
    display: flex; 
    flex-direction: column; 
    /*width: 272px;*/
    min-width: 350px;
    padding: 0px;
    margin: 10px;
    overflow: hidden; 
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 7px 13px 0px rgba(0,0,0,0.2);
    /*background-color: #f8f8f8;*/
    background: linear-gradient(170deg, rgb(242,242,242,1) 0%,rgb(247,247,247,1)  100%);
}

/*.card:hover {
    background: linear-gradient(130deg, rgb(245,245,245,1) 0%,rgb(250,250,250,1)  100%);
}*/

.card-sm {
    display: flex; 
    flex-direction: column; 
    /*width: 350px;*/
    margin: 5px 0px 15px 0px;
    overflow: hidden; 
    border-color: #000000;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.2);
    background-color: hsl(0, 0%, 89%);
}

.card-sm:hover {
    background-color: hsl(0, 0%, 90%);
}

.card-body {
    flex-grow: 1;
    padding: 12px 24px; 
}

.card-body-sm {
    flex-grow: 1;
    padding: 12px; 
    margin: 0px;
}

.card-title {
    color: #000000;
    font-size: 26px;
    font-weight: 300px;
    padding: 0; 
    margin: 0;
}

.card-title-sm {
    color: #000000;
    font-size: 20px;
    font-weight: 300px;
    padding: 0; 
    margin: 0px 0px 5px 0px;
}

.card-text {
    line-height: 1.4;
    margin: 10px 0px 0px 0px; 
    font-size: 17px;
    color: #000000;
}
