/* 
 * Modal dialog (this has the fade in/out animations disabled)
 * https://www.w3schools.com/howto/howto_css_modals.asp)
 */
.modal {
  /*display: none;  Hidden by default */
  position: fixed;    /* Stay in place */
  z-index: 999;       /* Sit on top */
  padding-top: 120px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;        /* Full width */
  height: 100%;       /* Full height */
  overflow: auto;     /* Enable scroll if needed */
  background-color: rgb(0,0,0);    /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
  
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  background-color: rgb(0,0,0,0);
  min-width: 1100px;
  max-width: 1100px;
  /*width: 80%;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*-webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s*/
}

/* Add Animation
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}*/

/* Close dialog button */
.modal-close {
  color: rgba(255,255,255,0.85);
  float: right;
  font-size: 42px;
  font-weight: 400;
  margin: -13px auto;
  overflow: hidden;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(255,255,255,0.98);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* make the dialog body partially transparent */
.modal-body {
  padding: 15px 15px;
  margin: 1px 0px 0px 3px;
  color: #333333;
  font-weight: 500;
  /*text-shadow: rgba(50,50,50,0.4) 3px 0 3px;*/
  border-radius: 0px 0px 12px 12px;
  backdrop-filter: blur(8px);
  background: linear-gradient(0deg, rgba(210,210,210,0.75) 0%,rgb(225,225,225,0.75) 100%);
  box-shadow: 5px 5px 5px rgb(103, 103, 103);
}

.modal-body .btn-md {
  text-shadow: rgba(50,50,50,0.4) 3px 0 3px;
}

.modal-footer {
  padding: 2px 2px;
  color: white;
  /*background-color: rgba(225,225,225,1); #7a7a7a;*/
  border-radius: 0px 0px 12px 12px;
}


/* Header with title & close button */
.modal-header {
  padding: 8px 15px;
  color: #fafafa;
  text-shadow: rgba(50,50,50,0.7) 3px 0 3px;
  /*background-color: hsla(96, 49%, 45%, 0.98);*/ /*#67ab3afa;*/
  background: linear-gradient(355deg, hsla(96, 29%, 40%, 0.97) 0%, hsla(96, 49%, 45%, 1) 100%);
  border-radius: 12px 12px 0px 0px;
  /*border-bottom: 2px solid rgba(0,0,0,0.5);*/ /*rgba(165,165,165);*/
  box-shadow: 5px 2px 3px rgba(90,90,90,0.4);
}

/* Extensions for user elements in header */
.modal-header-extensions select {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 5px 20px 5px 10px;
  margin-right: 4px;
  color: rgb(235,235,235);
  text-shadow: rgba(50,50,50,0.75) 3px 0 3px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
  transition: none;
}

.modal-header-extensions select:hover {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
}

/*.modal-header-extensions div {
  margin-left: 0px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 25px;
  }
}*/

.modal-header-mod {
  padding: 4px 15px;
}

.modal-title {
  color: #fafafa;
  font-size: 1.6em;
  font-weight: 500;
  margin-right: 15px;
  vertical-align: middle;
}

.modal-title-bar {
  height: 36px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.modal-title-bar-mod {
  margin-bottom: 9px;
}