/*
 * Miscellaneous styling of various elements
 */

.hidden {
  display: none;
}

.z-top {
  z-index: 999;
}

.z-bottom {
  z-index: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.align-top {
  align-self: start;
}

.mr-1 {
  margin-right: 1px;
}

.mr-2{
  margin-right: 2px;
}

.mr-4{
  margin-right: 4px;
}

.mr-5{
  margin-right: 5px;
}

.mr-8{
  margin-right: 8px;
}

.mr-10{
  margin-right: 10px;
}

.ml-5{
  margin-right: 5px;
}