
/* select2:  align tags in multi-select tagging mode */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-bottom: 0px;
}

.select2-results__option {
  font-size: medium;
}

.select2-container--default {
  flex-grow: 1;
}

/* select2: dark theme
.select2-container--default .select2-selection--multiple, .select2-results {
  color: #222222;
  scrollbar-color: #AAAAAA #EEEEEE;
}
  
.select2-container--default .select2-selection--single {
  height: 120%;
  line-height: 120%;
  vertical-align : middle;
}

.select2-selection__arrow {
  padding-top: 35px;
  padding-right: 25px;
}

.select2-selection__rendered {
  padding-top: 3px;
}

.select2-search__field {
  color: #222222;
  background-color: #EEEEEE;
}*/